HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.ipr

### Gradle ###
.gradle*
build/
.project
.settings
*iml
out*
sonar_home*
logs*
var
gradle.properties
bin*
.classpath
*swagger-code*
